{%extends 'base.html' %}
{% load static %}

{% block title %} Contacto {% endblock %}

{% block content %}

<style>
	.contact__form li {
		padding: 5px;
	}
</style>
<!-- CONTENT -->
    <div class="fotofly_fn_content">
    	
    	
    	<!-- HERO HEADER -->
		<div class="fotofly_fn_heroheader page_contact" data-text-color="#fff" data-window-height="on" data-padding-top="" data-padding-bottom="" data-bg-color="#3d0303" data-bg-opacity="0.6">
			<div class="fotofly_fn_heroheader_inner">

				<div class="heroheader_content_wrap">
					<div class="heroheader_content_inner">

						<div class="heroheader_content">
							<div class="content_inner">

								<!-- HERO CONTENT HERE -->
								
									
									<div class="fotofly_fn_contact">
										<div class="fotofly_fn_contact_in">
											<div class="container">
												<div class="contact">
													
													<!-- BREADCRUMBS -->
													<div class="fotofly_fn_breadcrumbs">
														<div class="fotofly_fn_breadcrumbs_content">
															<div class="container">
																<p>
																	<a href="index.php">Home</a>
																	/
																	<span>Contact</span>
																</p>
															</div>
														</div>
													</div>
													<!-- /BREADCRUMBS -->
													
													<div class="title_holder">
														<h3>Comuniquece con nosotros</h3>
													</div>
													
													<div class="contact__form">
														

														<form action="/contact/" method="POST" class="contact_form">{% csrf_token %}

															<!-- RETURN MESSAGES -->
															{% if 'valido' in request.GET %}
															<div>Su mensaje fue recivido pronto nos comunicaremos con usted</div>
															{% endif %}
															<div class="empty_notice"><span>Por favor complete todos los campos</span></div>
															<!-- /RETURN MESSAGES -->
															<ul>
																<li>
																	<div class="item">
																		{{formulario.nombre}}
											
																	</div>
																</li>
																<li>
																	<div class="item">
																		{{formulario.email}}
																	</div>
																</li>
																<li>
																	<div class="item">
																		{{formulario.asunto}}
																	</div>
																</li>
															</ul>
															<div class="clearfix"></div>
															<div class="message">{{formulario.mensaje}}
																
															</div>
															
															<div class="button boton_nuevo">
																<input type="submit" value="Enviar Mensaje"  />
															</div>
														</form>
														
													</div>
													
													
												</div>
											</div>
										</div>
									</div>
									
									
								<!-- /HERO CONTENT HERE -->

							</div>
						</div>

					</div>
				</div>

				<div class="heroheader_bg_wrap">
					<div class="overlay_color"></div>
					<div class="overlay_image"></div>
					<div class="overlay_video"></div>
				</div>


			</div>
		</div>
		<!-- /HERO HEADER -->
    	
    	
    </div>
    <!-- /CONTENT -->
{% endblock %}